.user__login {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user__login h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ff729f;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.user__login form {
    width: 35%;
}