.update__book {
    width: 100%;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update__book .image__box {
    align-self: flex-start;
    margin-bottom: 2.2rem;
}

.update__form {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.num {
    height: 2.8rem;
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
}

.copies {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}